
.contactos {
    img {
    display: grid;
    grid-row: inherit;
    object-fit: contain;
    grid-template-columns: 1;
    justify-content: center;
    width: 25rem;
    height: 15.625rem;
    display: block;
    }
}


