@media only screen and (max-width: 768px) {
    header {
    nav {
        ul {
        flex-direction: column;
        align-items: center;
        }
    }

    .inicio {
        flex-direction: column;
    }

    .text-content,
    .image-content {
        max-width: 100%;
        padding: 10px;
    }

    header {
        padding: 10px 0;
    }

    header nav ul li a {
        padding: 10px;
        display: block;
        text-align: center;
    }
    }
}

@media only screen and (max-width: 480px) {
    header nav ul li a {
    padding: 8px;
    }

    .text-content {
    h2 {
        @include responsive-font(1.5rem, 2rem, 2.5rem);
    }

    p {
        font-size: 1rem;
    }
    }
}
